@using ProjectNokia.Models
@using ProjectNokia.Controllers

@model IEnumerable<ProjectNokia.Models.Ticket>

@{
    ViewData["Title"] = "Index";
    Pager pager = new Pager();
    int pageNo = 0;
    if(ViewBag.Pager != null){
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-horizontal">
        <div class="row">
            <div class="form-group col-md-4">
                <label class="control-label">Select text:</label>
                @Html.TextBox("SearchString",null, new{ @class = "form-control"})
            </div>
            <div class="form-group col-md-4">
                <label class="control-label">Select status:</label>
                @Html.DropDownList("SelectStatus",new SelectList(Enum.GetValues(typeof(Status))),new{ @class = "form-control"})
            </div>
            <div class="form-group col-md-4">
                <label class="control-label">Select priority:</label>
                @Html.DropDownList("SelectPriority",new SelectList(Enum.GetValues(typeof(Priority))),new{ @class = "form-control"})
            </div>
            <div class="form-group col-md-4">
                <label class="control-label">Start date:</label>
                <input type="date" id="startdate" name="startdate" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label class="control-label">End date:</label>
                <input type="date" id="enddate" name="enddate" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label class="control-label">Select Assigne:</label>
                @Html.TextBox("SelectAssigne",null, new{ @class = "form-control"})
            </div>

            <div class="form-group col-md-4 align-self-end">
                <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary"/>
                <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
            </div>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LimitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reporter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assigne)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LimitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reporter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assigne)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="container">
    @if (pager.TotalPages>0)
    {
        <ul class="pagination justify-content-end">
            @if(pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Tickets" asp-action="Index" asp-route-pg="1">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="Tickets" asp-action="Index" asp-route-pg="(@pager.CurrentPage - 1)">Previous</a>
                </li>
            }

            @for(var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Tickets" asp-action="Index" asp-route-pg="@pge">@pge</a>
                </li>
            }

            @if(pager.CurrentPage < pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Tickets" asp-action="Index" asp-route-pg="(@pager.CurrentPage + 1)">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="Tickets" asp-action="Index" asp-route-pg="(@pager.TotalPages)">Last</a>
                </li>
            }
        </ul>
    }
</div>